# 7장. 자료 구조

### 1. 스택(Stack)

In [1]:
stack = [1, 2, 3]
stack.append(4)  #push 역할
stack

[1, 2, 3, 4]

In [2]:
stack.pop()

4

In [3]:
stack

[1, 2, 3]

In [4]:
# 입력한 문자열을 거꾸로 출력
word = input('단어 입력')
word_list = list(word)
print(word_list)

result = []
for _ in range(len(word_list)):
   result.append(word_list.pop()) 
print(result)

['p', 'y', 't', 'h', 'o', 'n']
['n', 'o', 'h', 't', 'y', 'p']

### 2. 큐(Queue)

In [5]:
queue = [1, 2, 3, 4]
queue.pop(0)

1

In [6]:
queue

[2, 3, 4]

### 3. 튜플(Tuple)

In [7]:
t = (1, 2, 3)
st = tuple('word')
t, st

((1, 2, 3), ('w', 'o', 'r', 'd'))

In [8]:
#괄호가 없어도 튜플로 인식괄호가 없어도 튜플로 인식
t = 1, 2, 3
t

(1, 2, 3)

In [9]:
t.count(1)

1

In [10]:
# 튜플은 불변이므로 새로운 값을 할당하는 것은 불가 
t[0] = 4

TypeError: 'tuple' object does not support item assignment

In [16]:
#시퀀스 자료형이르모 for 문에서 사용 가능
for element in t:
    print(element)

1
2
3

### 4. 세트(Set)

In [11]:
s = set([1,2,3,1,2,3])
s

{1, 2, 3}

In [20]:
s = set((1,2,3))
s

{1, 2, 3}

In [21]:
# CRUD
s.add(4)
s

{1, 2, 3, 4}

In [22]:
s.add(1)
s

{1, 2, 3, 4}

In [23]:
s.update([1,3,5,7])
s

{1, 2, 3, 4, 5, 7}

In [24]:
s.remove(7)
s

{1, 2, 3, 4, 5}

In [25]:
s.discard(3)
s

{1, 2, 4, 5}

In [28]:
s.clear()
s

set()

In [29]:
s1 = set(range(1,6))
s2 = set(range(3,8))
s1, s2

({1, 2, 3, 4, 5}, {3, 4, 5, 6, 7})

In [30]:
# 합집합(Union)
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [31]:
s1, s2

({1, 2, 3, 4, 5}, {3, 4, 5, 6, 7})

In [36]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7}

In [32]:
# 교집합(Interection)
s1.intersection(s2)

{3, 4, 5}

In [33]:
# 차집합(Difference)
s1.difference(s2)

{1, 2}

In [34]:
s1- s2

{1, 2}

In [35]:
for i in s1:
    print(i)

1
2
3
4
5