### 1-1

연도를 입력으로 받아 윤년인지 아닌지를 출력하는 프로그램을 작성하시오.윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다.예를들어, 2012년은 4의 배수라서 윤년이지만, 1900년은 4의 배수이지만, 100의 배수이기 때문에 윤년이 아니다. 하지만, 2000년은 400의 배수이기 때문에 윤년이다.)

In [20]:
year = int(input('연도를 입력하세요.'))

if year % 400 == 0:
    print(f'{year} is leap year.')
elif year % 100 == 0:
    print(f'{year} is not leap year.')
elif year % 4 == 0:
    print(f'{year} is leap year.')
else:
    print(f'{year} is not leap year.')

2000 is leap year.

In [22]:
if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0:
    print(f'{year} is leap year.')
else:
    print(f'{year} is not leap year.')

2000 is leap year.

### 1-2

본인의 생일을 1998 12 15 과 같이 년 월 일로 입력받아오늘 날짜의 만 나이를 구하는 프로그램을 작성하시오.

In [11]:
from datetime import date
today = date.today()

In [12]:
year, month, day = map(int, input('생일입력').split())
year, month, day

(1996, 6, 26)

In [13]:
if month > today.month:
    age = today.year - year -1
elif month < today.month:
    age = today.year - year
else:
    if day > today.day:
        age = today.year - year -1
    else:
        age = today.year - year
print(f'만 나이는 {age}입니다.')

만 나이는 24입니다.

### 1-3

세 자연수 a, b, c 가 피타고라스 정리 a2 + b2 = c2 를 만족하면 피타고라스 수라고 부른다. 
- (여기서 a < b < c 이고 a + b > c)
- 예를 들면, 32 + 42 = 9 + 16 = 25 = 52 이므로 3, 4, 5는 피타고라스 수입니다.  
- a + b + c = 1000 인 피타고라스 수를 구하시오. (답은 한가지 뿐이다.)

In [14]:
for a in range(1, 333):
    for b in range(a+1, 500):
        c = 1000 - a - b
        if c > (a + b):
            continue
        if c*c == a*a + b*b:
            print(f'{a}, {b}, {c}')
            break

200, 375, 425

### 2-1

(별 그리기)
- 5이상 9이하의 홀수를 입력받아 다이아몬드 형태의 별을 출력하는 프로그램을 작성하시오.
- 예) N=7

In [23]:
import math
N = int(input('홀수 입력'))
half = math.ceil(N/2)
for i in range(1, half+1):
    for k in range(half-i):
        print(' ', sep='', end='')
    for k in range(2*i-1):
        print('+', sep='', end='')
    print()
for i in range(1, half):
    for k in range(i):
        print(' ', sep='', end='')
    for k in range(2*(half-i)-1):
        print('+', sep='', end='')
    print()

    +
   +++
  +++++
 +++++++
+++++++++
 +++++++
  +++++
   +++
    +

### 2-2

디지털 시계에 하루동안(00:00~23:59) 3이 표시되는 시간을 초로 환산하면 총 몇 초(second) 일까요?

In [ ]:
- 디지털 시계는 하루동안 다음과 같이 시:분(00:00~23:59)으로 표시됨.	
00:00(60초간 표시)	
00:00
...
23:59

In [24]:
total_seconds = 0
for hour in range(24):
    for min in range(60):
        time = str(hour) + str(min)
        if '3' in time:
            total_seconds += 60
print(total_seconds)

29700

### 2-3

1~1000에서 각 숫자의 개수를 구하시오.- 예로 10 ~ 15 까지의 각 숫자의 개수를 구해보자.

In [ ]:
10 = 1, 0	
11 = 1, 1	
12 = 1, 2	
13 = 1, 3	
14 = 1, 4
15 = 1, 5

그러므로 이 경우의 답은 0:1개, 1:7개, 2:1개, 3:1개, 4:1개, 5:1개

In [25]:
num_counts = [0,0,0,0,0,0,0,0,0,0]
for i in range(1, 10):
    num_counts[i] += 1
for i in range(10, 100):
    ten = i // 10
    one = i % 10
    num_counts[ten] += 1
    num_counts[one] += 1
for i in range(100, 1000):
    hundred = i // 100
    ten = (i // 10) % 10
    one = i % 10
    num_counts[hundred] += 1
    num_counts[ten] += 1
    num_counts[one] += 1
num_counts[1] += 1
num_counts[0] += 3
print(num_counts)

[192, 301, 300, 300, 300, 300, 300, 300, 300, 300]

In [26]:
num_counts = [0,0,0,0,0,0,0,0,0,0]
numbers = ''
for i in range(1, 1001):
    numbers += str(i)

In [ ]:
numbers.count('0')

In [27]:
for i in range(10):
    num_counts[i] = numbers.count(str(i))
print(num_counts)

[192, 301, 300, 300, 300, 300, 300, 300, 300, 300]

### 2-4

자기 자신을 제외한 모든 양의 약수들의 합이 자기 자신이 되는 자연수를 완전수라고 한다. 예를 들면, 6과 28은 완전수이다.		
- 6=1+2+3         # 1,2,3은 각각 6의 약수 		
- 28=1+2+4+7+14   # 1,2,4,7,14는 각각 28의 약수
- 입력으로 자연수 N을 받고, 출력으로 N 이하의 모든 완전수를 출력하는 코드를 작성하시오.

In [29]:
# 약수 찾기 - 예)12
num = 12
for i in range(1, num+1):
    if num % i == 0:
        print(i)

1
2
3
4
6
12

In [30]:
# 자기 자신을 제외한 약수의 합
sum = 0
for i in range(1, num):
    if num % i == 0:
        sum += i
print(sum)

16

In [15]:
for num in range(2, 10001):
    sum = 0
    for i in range(1, num):
        if num % i == 0:
            sum += i #자기 자신의 약수의 합
    if sum == num:  #자기 자신의 약수의 합과 자신이 같으면 프린트
        print(sum)

6
28
496
8128

### 2-5

- 1부터 10까지 자연수를 각각 제곱해 더하면 다음과 같다 (제곱의 합).
- 1부터 10을 먼저 더한 다음에 그 결과를 제곱하면 다음과 같습니다 (합의 제곱).
- 따라서 1부터 10까지 자연수에 대해 "합의 제곱"과 "제곱의 합"의 차이는 3025 - 385 = 2640 이 된다.
- 입력으로 자연수 N을 받아, 1부터 N까지 자연수에 대해 "합의 제곱"과 "제곱의 합"의 차이는 얼마인가?

In [31]:
num = int(input('양의 정수 입력'))
square_of_sum, sum_of_square, sum = 0, 0, 0
for i in range(1, num+1):
    sum_of_square += i*i
    square_of_sum += i
print(f'1에서 {num} 까지의 합의 제곱과 제곱의 합')
print(f'합의 제곱: {square_of_sum**2}, 제곱의 합: {sum_of_square}')
print(f'차이: {square_of_sum**2 - sum_of_square}')

1에서 15 까지의 합의 제곱과 제곱의 합
합의 제곱: 14400, 제곱의 합: 1240
차이: 13160