### 1. unit 13 심사문제

표준 입력으로 가격(정수)과 쿠폰 이름이 각 줄에 입력됩니다. Cash3000 쿠폰은 3,000원, Cash5000 쿠폰은 5,000원을 할인합니다. 쿠폰에 따라 할인된 가격을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).

In [1]:
price = int(input('가격을 입력하세요.'))
coupon = input('쿠폰을 입력하세요.')

if coupon == 'Cash3000':
    price -= 3000
if coupon == 'Cash5000':
    price -= 5000
print(price)

47000

### 2. unit 14 심사문제

표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다. 여기서 네 과목의 평균 점수가 80점 이상일 때 합격이라고 정했습니다. 평균 점수에 따라 '합격', '불합격'을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 점수는 0점부터 100점까지만 입력받을 수 있으며 범위를 벗어났다면 '잘못된 점수'를 출력하고 합격, 불합격 여부는 출력하지 않아야 합니다.

In [2]:
kor, eng, math, sci = map(int,input('점수를 입력하세요.').split())

if 0<= kor <=100 and 0<= eng <=100 and 0<= math <=100 and 0<= sci <=100:
    if (kor+eng+math+sci)/4 >=80:
        print('합격')
    else :
        print('불합격')

else:
    print('잘못된 점수')

합격

In [1]:
kor, eng, math, sci = map(int, input().split())
mean = (kor + eng + math + sci) / 4
if kor < 0 or kor > 100 or eng < 0 or eng > 100 or math < 0 or math > 100 or sci < 0 or sci > 100 :
    print('잘못된 점수') 
elif mean >= 80 : 
    print("합격")
else : 
    print("불합격")

잘못된 점수

In [3]:
scores = list(map(int,input('국영수과 점수 입력').split()))
scores = [kor, eng, math, sci]

if False not in [0<=s<=100 for s in scores]:  
    if sum(scores)/len(scores) >= 80:
        print('합격')
    else:
        print('불합격')

else:
    print('잘못된 점수')

잘못된 점수

In [4]:
[0<=s<=100 for s in scores]

[True, True, False, True]

In [5]:
all([0<=s<=100 for s in scores])

False

In [6]:
any([0<=s<=100 for s in scores])

True

In [7]:
if all([0<=s<=100 for s in scores]):  
    if sum(scores)/len(scores) >= 80:
        print('합격')
    else:
        print('불합격')

else:
    print('잘못된 점수')

잘못된 점수

### 3. unit 15 심사문제

표준 입력으로 나이(만 나이)가 입력됩니다(입력 값은 7 이상 입력됨). 교통카드 시스템에서 시내버스 요금은 다음과 같으며 각 나이에 맞게 요금을 차감한 뒤 잔액이 출력되게 만드세요(if, elif 사용). 현재 교통카드에는 9,000원이 들어있습니다.

어린이(초등학생, 만 7세 이상 12세 이하): 650원
청소년(중∙고등학생, 만 13세 이상 18세 이하): 1,050원
어른(일반, 만 19세 이상): 1,250원

In [4]:
age = int(input('나이를 입력하세요.'))
balance = 9000

if 7<= age <=12:
    balance -= 650
elif 13<= age <=18:
    balance -= 1050
elif age>=19:
    balance -= 1250
    
print(balance)

7950

 ### 4. unit 16 심사문제

표준 입력으로 정수가 입력됩니다. 입력된 정수의 구구단을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 출력 형식은 숫자 * 숫자 = 숫자처럼 만들고 숫자와 *, = 사이는 공백을 한 칸 띄웁니다.

In [5]:
gugudan = int(input('단수를 입력하세요.'))

for i in range(1, 10):
    print(f'{gugudan} x {i} = {gugudan*i}')

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

### 5. unit 17 심사문제

표준 입력으로 금액(정수)이 입력됩니다. 1회당 요금은 1,350원이고, 교통카드를 사용했을 때마다의 잔액을 각 줄에 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 최초 금액은 출력하지 않아야 합니다. 그리고 잔액은 음수가 될 수 없으며 잔액이 부족하면 출력을 끝냅니다.

In [6]:
amount = int(input('요금을 입력하세요.'))

while amount >= 1350:
    amount -=1350
    print(amount)

8650
7300
5950
4600
3250
1900
550

In [8]:
class Tmoney():
    def __init__(self):
        print('Tmoney 카드를 개설하였습니다. 최초 잔액은 0원입니다.')
        self.balance = 0
    
    def charge(self, amount):
        self.balance += amount
    
    def pay(self, amount):
        if self.balance >= amount:
            self.balance -= amount
            print(f'잔액은 {self.balance:,}원 입니다.')
        else:
            print('잔액이 부족합니다.')

In [9]:
tmon = Tmoney()
tmon.charge(10000)
while True:
    tmon.pay(1350)
    if tmon.balance < 1350:
        break

Tmoney 카드를 개설하였습니다. 최초 잔액은 0원입니다.
잔액은 8,650원 입니다.
잔액은 7,300원 입니다.
잔액은 5,950원 입니다.
잔액은 4,600원 입니다.
잔액은 3,250원 입니다.
잔액은 1,900원 입니다.
잔액은 550원 입니다.

In [10]:
class Tmoney2():
    def __init__(self, amount=0):
        print(f'Tmoney 카드를 개설하였습니다. 최초 잔액은 {amount:,}원입니다.')
        self.__balance = amount
    
    def charge(self, amount):
        self.__balance += amount

    def get_balance(self):
        return self.__balance
    
    def pay(self, amount):
        if self.__balance >= amount:
            self.__balance -= amount
            print(f'잔액은 {self.__balance:,}원 입니다.')
        else:
            print('잔액이 부족합니다.')

In [11]:
tmon = Tmoney2(10000)
tmon.charge(10000)
while True:
    tmon.pay(1350)
    if tmon.get_balance() < 1350:
        break

Tmoney 카드를 개설하였습니다. 최초 잔액은 10,000원입니다.
잔액은 18,650원 입니다.
잔액은 17,300원 입니다.
잔액은 15,950원 입니다.
잔액은 14,600원 입니다.
잔액은 13,250원 입니다.
잔액은 11,900원 입니다.
잔액은 10,550원 입니다.
잔액은 9,200원 입니다.
잔액은 7,850원 입니다.
잔액은 6,500원 입니다.
잔액은 5,150원 입니다.
잔액은 3,800원 입니다.
잔액은 2,450원 입니다.
잔액은 1,100원 입니다.

### 6. unit 18 심사문제

표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1~200, 두 번째 입력 값의 범위는 10~200이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다). 다음 소스 코드를 완성하여 첫 번째 정수와 두 번째 정수 사이의 숫자 중 3으로 끝나지 않는 숫자가 출력되게 만드세요. 정답에 코드를 작성할 때는 while True:에 맞춰서 들여쓰기를 해주세요.

In [3]:
start, stop = map(int, input().split())
i = start

while True:
    if i>stop:
        break
    if i%10==3:
        i+=1
        continue
    print(i, end=' ')
    i += 1

21 22 24 25 26 27 28 29 30